<div class="Form__input--container">
    <label class="Form__input--label"
           v-if="label"
           :for="id">{{ label }}</label>
    <div class="Form__input--group">
        <label class="Form__input--group-item Form__input--addon"
               v-if="addon"
               :class="addon"
               :for="id"></label>
        <input class="Form__input--group-item Form__input--text"
               :id="id"
               :name="field"
               :type="type"
               :maxlength="maxLength"
               v-model="value"
               @input="_onInput">
        <label class="Form__input--group-item Form__input--counter"
               v-if="showLimited"
               :for="id">{{length}}/{{maxLength}}</label>
    </div>
</div>