<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue-demo</title>
</head>

<body class="skin-blue fixed" data-spy="scroll" data-target="#scrollspy" style="margin: 0;">

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bundle.js"></script>
<script src="/javascripts/docs.js"></script>
</body>

</html>
