<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue-demo</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
</head>

<body class="skin-blue fixed" data-spy="scroll" data-target="#scrollspy" style="margin: 0;min-height: 100vh;">

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bundle.js"></script>
<script src="/javascripts/docs.js"></script>
</body>

</html>
