<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-demo</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/AdminLTE.min.css">
    <link rel="stylesheet" href="/stylesheets/skins/_all-skins.min.css">
</head>
<body class="skin-blue fixed" data-spy="scroll" data-target="#scrollspy">

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bundle.js"></script>
<script src="/javascripts/docs.js"></script>
</body>
</html>
