@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.App__Container {
  position: relative;
  padding-left: 45px;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

@media screen and (max-width: $screen-xs-max) {

}