<nav class="Sidebar__container">
    <ul class="Sidebar__topList">
        <li>
            <a v-link="{ path: '/home' }">home</a>
        </li>
        <li>
            <a v-link="{ path: '/dashboard' }">dashboard</a>
        </li>
        <li>
            <a v-link="{ path: '/anttest' }">antTest</a>
        </li>
        <li>
            <a v-link="{ path: '/admintest' }">adminTest</a>
        </li>
    </ul>
    <ul class="Sidebar__bottomList">
        <li>
            <a v-link="{ path: '/register' }">register</a>
        </li>
    </ul>
</nav>